{{!< default}}

<div class="main">

{{!--   <section class="section-padding--xl bg-white title-wrapper">
    <div class="title-container">
      <h1 class="title">
        <img class="logo" src="/assets/images/GTT.png" />
        <span style="font-size:1.2em;">E</span>RIC<span style="text-transform:none;color:#27ae60;"><span style="font-size:1.2em;">H</span>AGEMANN</span>
      </h1>
      <span class="subtitle">Training and performance. Simpler.</span>

    </div>
  </section>
 --}}
  <section class="section-padding intro-container">
    <div class="container">

      <div>
{{!--         <div class="author-image">
          <img src="/assets/images/eric-profile.png" />
        </div>
 --}}        <div class="intro-content">
                <h3>If training and the pursuit of health is so good for us, why is it so damn hard?</h3>

                <p>My name is Eric and I'm a sports performance coach in Ontario, Canada. I spend my days in the gym training athletes and helping regular people get stronger, fitter, and understand the training process better. </p>

                <p>This site isn't about exercise tips and fitness hacks. It's about the hard stuff. It's about the struggle. It's about our relationship to exercise and understanding the greater role it plays in our lives. </p>

                <p>If you can strengthen this relationship and understand training on a deeper level, you will gain more from your efforts whether you're an athlete, the parent of an athlete, or just a regular guy or gal looking to reclaim your fitness and health. </p>
                <p>Thanks for stopping by and I hope you take something from it.</p>
          <h4 class="signature">Eric</h4>
        </div>
      </div>

    </div>
  </section>
  <section class="section-padding bg-white">
    <div class="container">
      <div class="subscribe-container">
        <h2>Get notified</h2>
        <p>If you'd like to receive a short weekly update, please fill out your email below. No spam, no daily pestering, no selling. I don't roll like that.</p>
        <div class="email-sign-up"> 
        {{> "email-signup"}}
        </div>
      </div>
    </div>
  </section>

  <section class="section-padding">
    <div class="container">
      <div class="blog-preview-container">
        <h2 class="text-center">Latest from the blog</h2>
        <div class="tab">
        <ul>
          {{#get "posts" limit="3"}}
          {{#foreach posts}}
            <li class="preview">
              <a class="" href="{{url}}">
                <div class="preview-thumb">
                      <div class="relative-bg" style="background-image: url('{{image}}');margin:1em auto;"></div>
                </div>

                <div class="preview-content">
                  <span class="preview__date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</span>
                  <h4 class="preview__header">{{title}}</h4>
                  <p class="preview__excerpt">{{excerpt words="23"}}...</p>
                  <span class="preview__more">Read More</span>
                </div>
              </a>
            </li>
          {{/foreach}}
          {{/get}}
        </ul>

      </div>
    </div>
  </section>
</div>

{{> "footer-page"}}