{{!< default}}


<section class="previews">
  <div>
    {{#get "posts" limit="30"}}
    {{#foreach posts}}
      <figure class="absolute-bg preview__img" style="background-image: url('{{image}}');"></figure>
    {{/foreach}}
    {{/get}}
    <div class="previews__container">
      <h1 style="font-size:7em;">
         <img class="logo" src="/assets/images/GTT.png">
        {{!-- <span style="font-size:1.2em;">E</span>RIC<span style="text-transform:none;color:#27ae60;"><span style="font-size:1.2em;">H</span>AGEMANN</span> --}}
      </h1>
      {{!-- <span class="subtitle">Training and performance. Simpler.</span> --}}
      <div class="email-sign-up"> 
        {{> "email-signup"}}
      </div>
    </div>

  </div>

  <div>
    <header>
      <ul class="tabs">
        <li class="tabs__item">Last 30 posts</li>
        <li class="tabs__item">Topics</li>
        <li class="tabs__item">Archive</li>

        {{!-- <a href="/all-posts" class="tabs__item">Archive</a> --}}
      </ul>
    </header>
    <div class="tab">
      <ul>
        {{#get "posts" limit="30"}}
        {{#foreach posts}}
          <li class="preview">
            <a class="preview__link" href="{{url}}">
              <span class="preview__date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</span>
              <h2 class="preview__header">{{title}}</h2>
              <p class="preview__excerpt">{{excerpt words="30"}}...</p>
              <span class="preview__more">Read More</span>
            </a>
          </li>
        {{/foreach}}
        {{/get}}
      </ul>

      {{!-- {{pagination}} --}}

      {{> "footer-page"}}
    </div>
    

    <div class="tab">
      {{#get "tags" limit="all" include="count.posts" order="name asc"}}
        <ul class="cards">
          {{#foreach tags}}
            {{#if count.posts}}
              <li class="card">
                <a class="card__link" href="/tag/{{slug}}/">
{{!--                   <div class="card__img">
                    {{#get "posts" filter="tags:{{slug}}" limit="1"}}
                      {{#foreach posts}}
                        <figure class="absolute-bg" style="background-image: url('{{image}}');"></figure>
                      {{/foreach}}
                    {{/get}}
                  </div>
 --}}                  <div class="card__container">
                    <h2 class="card__header">{{name}}</h2>
                    <p class="card__count">{{count.posts}} Posts</p>
                    <span class="card__more">View All</span>
                  </div>
                </a>
              </li>
            {{/if}}
          {{/foreach}}
        </ul>
      {{/get}}

      {{> "footer-page"}}
    </div>
    <div class="tab">
      <ul class="archive">
      {{#get "posts" limit="all"}}
        {{#foreach posts}}
        <li>
            <h4 class="title"><a href="{{url}}">
              {{title}} | 
              <span class="preview__date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</span>
            </a>
            <h4>
          </li>
        {{/foreach}}
        {{/get}}
      </ul>

      {{> "footer-page"}}
    </div>

  </div>

</section>
